body {
    color: #00476E;
    background-color: #fff;
    font-family: "Cantarell",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    font-size: 19px
}

h1 {
    font-size: 5.105em;
    line-height: 0.928em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 12px;
}

h2 {
    font-size: 32px;
    padding-bottom: 8px;
}

h3 {
    font-size: 24px;
    padding-bottom: 6px;
}

h4 {
    font-size: 18px;
    padding-bottom: 4px;
}

h5 {
    font-size: 16px;
    padding-bottom: 2px;
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-weight: 400
}

a {
    color: inherit
}

table {
    color: inherit
}

p.author {
    color: #78797a;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 27px;
    text-transform: uppercase
}

.center-content,#login-form-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.spacer-vertical {
    margin: 80px 0 0 0;
}

.align-right {
    text-align: right;
}

.form {
    font-size: 130%;
}

.form input[type="text"] {
    width: 100%;
}

.form div.row {
    padding-top: 30px;
}

.form input[type="password"],.form input[type="text"] {
    border: 1px solid #00476E
}

.form input[type="submit"] {
    color: white;
    background-color: #008DD0;
    padding: 10px 30px 10px 30px;
    margin-top: 30px;
}

.topmenu {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.top-menu-order-button {
    color: white;
    font-weight: bold;
    background-color: #129729;
    border-radius: 5px;
    padding: 5px 10px 6px 10px;
}

#login-form-container {
    height: 400px
}

#om-meg {
    padding-bottom: 100px
}

#om-meg h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 15px;
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    margin-top: 45px
}

#om-meg ul {
    list-style-type: square
}

#om-meg p.pullquote {
    line-height: 26px;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-left: 15px;
    border-width: 0px 0px 0px 5px;
    border-style: solid
}

.container {
    min-width: 320px
}

.images-invisible-preload {
    height: 1px;
    width: 1px;
    display: none;
    visibility: hidden
}

.carousel-control,.carousel-control:focus,.carousel-control:hover {
    color: white;
    opacity: 1;
    background: none !important;
    filter: none !important;
    progid: none !important
}

.carousel-control.left {
    margin-left: -5px
}

.carousel-control.right {
    margin-right: -5px
}

@media (max-width: 767px) {
    h1 {
        font-size:2em
    }

    #login-form {
        width: 300px;
        font-size: 1em
    }

    #login-form input {
        width: 100%;
        margin-bottom: 10px
    }
}

@media (min-width: 768px) {
    .carousel-inner>.item {
        height:650px;
        position: relative
    }

    .carousel-inner img {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@media (min-width: 992px) {
    .carousel-control,.carousel-control:focus,.carousel-control:hover {
        color:inherit
    }
}
